html {
    background: url(/assets/images/conductor5.jpg) no-repeat center right 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
