html {
    background: url(/assets/images/P1100925.jpg) no-repeat center left 39%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
